// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Reset
@import '~bootstrap-reboot';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//
a, select, input, button {
    cursor: pointer;
}

body {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

main {
    padding: 0 8px;
}

.dispno {
    min-width: 120px;
}

.btn-danger {
    min-width: 160px;
}

#user_image-area {
    position: relative;

    &:hover {
        cursor: pointer;

        #user_image {
            opacity: .8;
        }

        .user_image_icon {
            display: block;
        }
    }
}

.user_image_icon {
    display: none;
    position: absolute;
    top: 37%;
    left: 42%;
    font-size: 30px;
}

@media(max-width: 720px) {
    .user_image_icon{
        display: block;
        top: 37%;
        left: 42%;
        font-size: 30px;
    }
    #user_image{
        opacity: .8;
    }
}

.modal-body {
    height: 70vh;
}

