// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Reset
@import '~bootstrap-reboot';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//
a, select, input, button {
    cursor: pointer;
}

body {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

main {
    padding: 0 8px;
}

.dispno {
    min-width: 120px;
}

.btn-danger {
    min-width: 160px;
}

#user_image-area {
    position: relative;
}

#user_image {
    &:hover {
        cursor: pointer;
        opacity: 0.7;
        + .user_image--icon {
            display: block;
        }
    }
}

.user_image--icon {
    display: none;
    position: absolute;
    top:37%;
    left: 42%;
    font-size: 30px;
}
